a{
    color: #333;
}

a:hover{
    color: orange;
}

.btn{
    background: rgb(143, 137, 137);
    padding: 8px 12px;
    border: none;
    color:blanchedalmond;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
    color: orange;
}

.collection li{
color:#708090;
margin-bottom: 5px;
}

.table{
    width: 100%;
}

.table td{
    text-align: center;
    padding-bottom: 10px;
}